<td style="padding:10px; margin-top:20px; height:30px; background:#F6F6F7;">
  <table
    role="presentation"
    style="width:100%;  border-collapse:collapse; border:0; border-spacing:0; font-size:9px; font-family:Arial,sans-serif;"
  >
    <tr>
      <td align="center" style="padding:0; width:100%;">
        <p
          style="margin:0; font-size:12px; line-height:10px; font-family:Arial, sans-serif; "
        >
          <b>Department of Education - NCR</b>
          <br />
          <br />
          Misamis St. Bago Bantay, Quezon City
          <br />
          <br />
          Tel Nos. 920-5824;926-221 loc. 801
        </p>
      </td>

    </tr>

    <tr>
      <td align="center" style="padding:0 0 0 10px;width:38px;">
        <a href="http://www.twitter.com/" style="color:#ffffff;"><img
            src="https://img.icons8.com/fluency/2x/twitter-circled.png"
            alt="Twitter"
            width="38"
          /></a>

        <a href="http://www.facebook.com/" style="color:#000000;"><img
            src="https://img.icons8.com/fluency/2x/facebook-new.png"
            alt="Facebook"
            width="38"
          /></a>
      </td>

    </tr>
  </table>
</td>