<td
  align="center"
  style="padding:0px 0 0px 0;background-color: #0c46a1;
background-image: linear-gradient(160deg, #0c46a1 0%, #8ac5db 100%);

 border: 1px solid #F6F6F7;"
>
  <img
    src="https://static.wikia.nocookie.net/russel/images/3/34/Solar_Learning_DepEd_NCR_Prime_Logo_2021.png/revision/latest/scale-to-width-down/250?cb=20220624021823"
    {{!-- src={{url_concat domain "prime-removebg.png"}} --}}
    style="height:300px; width:300px display:block;"
  />
</td>